.container{
	width: 90%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
img{
	width: 50%;
	/*background-color: black;
*/}
.line{
	width: 100vw;
	height: 4px;
	background-color: black;
	margin: 20px 0;
}

.header{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

}
.nav{
	display: flex;
	justify-content: space-between;
	width: 500px;
}
.header__menu{
	display: flex;
	text-decoration: none;
}
.header__menu-item a{
	color: black;
}
.header__middle{
	position: relative;
}
.header__image1{
	width: 120px;
	height: auto;
	position: absolute;
	bottom: 40%;
	left: 10%;
}
.header__image2{
	width: 300px;
	height: 100px;
	position: absolute;
	bottom: 15%;
	right: 15%;
}
.header__middle h1{
	font-size: 132px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 60px 0;
	line-height: 150px;
}
.header__span1{
	margin-left: 200px;
}
.header__span2{
	margin-right: 460px;
}
.header__bottom{
	display: flex;
	justify-content: space-between;
}
.bottom-left{
	font-size: 28px;
	font-weight: 500;
}
.bottom-right{
	transform: rotate(-90deg);
}

.humanity{
	padding: 60px 0 370px 0;
}
h2{
	font-weight: 500;
	font-size: 80px;
	text-transform: uppercase;
}
.humanity__top{
	display: flex;
	justify-content: space-between;
}
.humanity__description-top img{
	width: 340px;
}
.humanity__description-top p{
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 14px;
	text-align: right;
}
.humanity__middle{
	position: relative;
}
.humanity__middle img{
	position: absolute;
	top: -40px;
	left: 200px;
	width: 200px;
}
.humanity__middle p{
	position: absolute;
	top: 110px;
	left: 200px;
	text-transform: uppercase;
	font-weight: 700;
}
.humanity__bottom{
	position: relative;
}
h3{
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 700;
}
.humanity__text{
	width: 150px;
	position: absolute;
	top: 30%;
	right: 35%;
}
.humanity__text p{
	margin-top: 12px;
	line-height: 18px;
}
.humanity__img{
	position: relative;
	bottom: -300px;
	left: 0;
}
.humanity__img img{
	width: 400px;
	height: 240px;
}
.humanity__img p{
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 296px;
	margin-top: 14px;
}
.humanity__footer img{
	width: 24px;
	height: 24px;
}
.humanity__footer{
	text-align: right;
	position: relative;
}
.humanity__date{
	font-weight: 500;
	font-size: 38px;
	letter-spacing: 2px;
	position: absolute;
	bottom: -280px;
	right: 0;
}
.humanity__footer img{
	position: absolute;
	bottom: -320px;
	right: 0;	
/*	transform: rotate(-90deg);*/
}


.exhibition{
	padding: 40px 0;
}
.exhibition__top{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
/*	position: relative;
*/}
.exhibition__top-title{
	margin-left: 150px;
}
.exhibition__img1{
/*	position: absolute;
	bottom: 0;
	left: 0;*/
	margin-top: 100px;
}
.exhibition__img1 p, .exhibition__img2 p, .exhibition__title3 p{
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 14px;
	font-size: 24px;
}
.exhibition__img1 img{
	width: 160px;
	height: auto;
}
.exhibition__middle{
	display: flex;
	justify-content: right;
	text-align: right;
	padding-top: 60px;
}
.exhibition__middle h3{
	width: 100px;
	/*margin-bottom: 24px;*/
}
.exhibition__middle p{
	width: 140px;
	margin-top: 12px;
	line-height: 18px;
}
.exhibition__img2 p{
	margin-left: 256px;
}
.exhibition__bottom{
	display: flex;
	justify-content: space-between;
}
.exhibition__title3 img{
	width: 500px;
}
.exhibition__text3{
	width: 240px;
	margin-left: 200px;
	margin-top: 80px;
}
.exhibition__link{
	text-align: right;
	font-size: 48px;
	text-transform: uppercase;
	margin-top: 250px;
}
.exhibition__link img{
	width: 24px;
	height: 24px;
	margin-top: 12px;
}





.artists{
	text-align: center;
	padding: 60px 0;
}
.artists p{
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	margin-top: 30px;
}



.slider{
	padding: 40px;
	display: flex;
	justify-content: space-between;
}
.slider__item{
	width: 240px;
}
.slider__img{
	width: 200px;
	height: 380px;
	background-color: black;
}
.slider__item h3{
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 12px;
}
.slider__item p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

